@page "/recipe/{recipeid}"
@using recipebook.blazorclient.Application.ViewModels
@inject RecipeDetailViewModel ViewModel

<h1>@ViewModel.Title</h1>

<div class="row">
    <div class="col-md-12">
        <h5>Servings</h5>
        <p>@ViewModel.Servings</p>
    </div>
   
</div>

<div class="row">
    <div class="col-md-12">
        <h5>Ingredients</h5>
        <p>@ViewModel.Ingredients</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h5>Directions</h5>
        <p>@ViewModel.Directions</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h5>Source</h5>
        <p>@ViewModel.Source</p>
    </div>
</div>

    @code {
        [Parameter]
        public string RecipeId { get; set; }

        protected override async Task OnParametersSetAsync()
        {
            await ViewModel.Initialize(RecipeId);
            await base.OnParametersSetAsync();
        }

    }
