@page "/recipe/{recipeid}"
@using recipebook.blazorclient.Application.ViewModels
@inject RecipeDetailViewModel ViewModel

<h1>@ViewModel.Title</h1>

<div class="row">
    <div class="col-md-12">
        <dl>
            <dt>Servings</dt>
            <dd>@ViewModel.Servings</dd>
            <dt>Ingredients</dt>
            <dd>@ViewModel.Ingredients</dd>
            <dt>Directions</dt>
            <dd>@ViewModel.Directions</dd>
            <dt>Source</dt>
            <dd>@ViewModel.Source</dd>
        </dl>
    </div>
</div>


    @code {
        [Parameter]
        public string RecipeId { get; set; }

        protected override async Task OnParametersSetAsync()
        {
            await ViewModel.Initialize(RecipeId);
            await base.OnParametersSetAsync();
        }

    }
