@page "/recipe/{recipeid}"
@using recipebook.blazorclient.Application.ViewModels
@inject RecipeDetailViewModel ViewModel

<h1 class="display-4">@ViewModel.Title</h1>

<RecipeDetail Rating="@ViewModel.Rating"
              Servings="@ViewModel.Servings"
              Ingredients="@ViewModel.Ingredients"
              Directions="@ViewModel.Directions"
              Source="@ViewModel.Source"></RecipeDetail>


@code {
    [Parameter]
    public string RecipeId { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        await ViewModel.Initialize(RecipeId);
        await base.OnParametersSetAsync();
    }

}
