@using Models;
 
@if (Recipe != null)
{
    <h1 class="display-4">
        @Recipe.Name
    </h1>

    @if (Recipe?.Servings != null)
    {
        <p class="lead">Serves @Recipe.Servings</p>
    }
    <div class="row">
        <div class="col-md-12">
            <dl>
                <dt>Ingredients</dt>
                <dd>
                    <ul style="list-style-type: none;">
                        @foreach (var item in Recipe.Ingredients ?? new List<string>())
                        {
                            <li>@item</li>
                        }
                    </ul>
                </dd>

                <dt>Directions</dt>
                <dd class="col-md-6">
                    <ol>
                        @foreach (var item in Recipe.Directions ?? new List<string>())
                        {
                            <li>@item</li>
                        }
                    </ol>
                </dd>

                @if (!string.IsNullOrWhiteSpace(Recipe.Source))
                {
                    <dt>Source</dt>
                    <dd>
                        @if (Recipe.Source.StartsWith("http"))
                        {
                            <a href="@Recipe.Source" target="_blank">@Recipe.Source</a>
                        }
                        else
                        {
                            @Recipe?.Source
                        }

                    </dd>
                }
            </dl>
        </div>
    </div>
}
@code {
    [Parameter]
    public RecipeViewModel Recipe { get; set; }
}
