@using recipebook.blazor.core.ViewModels
@inject RecipeDetailViewModel ViewModel

<BSModal @ref="ModalDialog" Size="@Size.ExtraLarge">
    <BSModalHeader OnClick="@(() => ModalDialog.Hide())">
        <h4 class="display-4">@ViewModel.Title</h4>
    </BSModalHeader>
    <BSModalBody>
        <RecipeDetail Rating="@ViewModel.Rating"
                      Servings="@ViewModel.Servings"
                      Ingredients ="@ViewModel.Ingredients"
                      Directions ="@ViewModel.Directions"
                      Source ="@ViewModel.Source"
                      ></RecipeDetail>
        
    </BSModalBody>
    <BSModalFooter>
        <a href="/recipe/edit/@ViewModel.Id" class="btn btn-outline-info mr-auto"><span class="oi oi-pencil"></span></a>
        <a href="/recipe/@ViewModel.Id" class="btn btn-secondary" target="_blank">View Full Page</a>
        <BSButton Color="Color.Primary" OnClick="@(() => ModalDialog.Hide())">Close</BSButton>
    </BSModalFooter>
</BSModal>
@code {
    BSModal ModalDialog;
    public async Task Show(string id)
    {
        await ViewModel.Initialize(id);
        ModalDialog.Show();
    }
}
